/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0b111e;
  background-image: 
    linear-gradient(to right, rgba(30, 41, 59, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 41, 59, 0.3) 1px, transparent 1px);
  background-size: 50px 50px;
  min-height: 100vh;
  margin: 0;
}
